@import "tailwindcss";

:root {
  --background: #eeefee;
  --foreground: #333333;
  --primary: #093eff;
  /* 023379 */
  --secondary: #069c0c;
  --tertiary: #d60d0a;
  --card: #fefffe;
  --muted: #7c7878;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --font-primary: var(--font-jakarta);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-background text-foreground font-primary tracking-tight;
}

@keyframes marquee-vertical {
  to { transform: translateY(-50%); }
}
